body {
  font-family: Roboto, sans-serif;
  background-color: #643a7a;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  width: 300px;
  min-height: 390px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #fffafa;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.6);
}
@media screen and (min-width: 480px) {
  .container {
    width: 350px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 400px;
    min-height: 590px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 450px;
  }
}

.img-div {
  min-height: 630px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  width: auto;
  /* height: auto; */
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/food-small.png);
}

@media screen and (min-width: 480px) {
  .img-div {
    width: auto;
  }
}

@media screen and (min-width: 768px) {
  .img-div {
    width: 668px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/food-sm.png);
  }
}

@media screen and (min-width: 1200px) {
  .img-div {
    width: 1000px;
  }
}
/* .section {
  padding-right: 0;
  padding-left: 0;
} */
/* @media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
} */

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 290px;
  list-style: none;
}
@media screen and (min-width: 480px) {
  .list {
    width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .list {
    width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .list {
    width: 400px;
  }
}
.item {
  position: relative;
  /* border: 2px solid #497081; */
  font-size: 17px;
  font-family: "Zilla Slab";
  font-weight: 600;
  letter-spacing: 1px;
  color: #3c6678;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  /* cursor: pointer; */
  background-color: #fffafa;
}
.item:nth-child(2n) {
  background-color: #f2eaf7;
}

@media screen and (min-width: 768px) {
  .item {
    font-size: 20px;
  }
}

label {
  display: flex;
  flex-direction: column;
}
.text-before {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-family: Fredericka the Great;
  font-size: 50px;
  color: #643a7a;
}

@media screen and (max-width: 768px) {
  .text-before {
    font-size: 40px;
  }
}
.div-input {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-first {
  font-family: "Zilla Slab";
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #f6f2fc;
  /* border-radius: 5px; */
  padding: 13px;
  font-size: 14px;
  border-color: #f6f2fc;
  width: 200px;
  color: #497081;
}

@media screen and (min-width: 480px) {
  .input-first {
    width: 230px;
  }
}

@media screen and (min-width: 768px) {
  .input-first {
    width: 260px;
    font-size: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .input-first {
    width: 300px;
  }
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #678c9c;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #678c9c;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #678c9c;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #678c9c;
}
.submit-button {
  position: absolute;
  top: 19px;
  left: 202px;
  height: 36px;
  width: 50px;
  /* border-radius: 5px; */
  border: none;
  background-color: #f6f2fc;
  color: #678c9c;
  font-size: 30px;
  font-weight: 800;
  cursor: pointer;
}
.submit-button:hover,
.submit-button:focus {
  color: #335260;
}

@media screen and (min-width: 480px) {
  .submit-button {
    left: 210px;
  }
}

@media screen and (min-width: 768px) {
  .submit-button {
    left: 260px;
  }
}

@media screen and (min-width: 1200px) {
  .submit-button {
    left: 278px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* .input-checkbox {
  cursor: auto;
} */
.label-checkbox {
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.label-checkbox::before {
  position: absolute;
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #adb5bd;
  background-color: white;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;
  /* cursor: alias; */
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-checkbox:hover::before {
  border: 1px solid rgb(139, 45, 186);
  box-shadow: inset 0px 0px 3px 1px rgb(137, 45, 183);
}
.input-text {
  margin-left: 30px;
  max-width: 300px;
}

.input-checkbox:checked + .label-checkbox::before {
  background-image: url(../images/radio.svg);
  background-color: #f6f2fc;
  border: 1px solid rgb(139, 45, 186);
  box-shadow: inset 0px 0px 3px 1px rgb(137, 45, 183);
}

.button-delete,
.button-view {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.icon-delete,
.icon-view {
  fill: #678c9c;
}

.icon-delete:hover,
.icon-view:hover {
  fill: #335260;
}
.modal {
  background-color: #fffafa;
  padding: 50px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.modal-text {
  font-family: Fredericka the Great;
  font-size: 25px;
  color: #643a7a;
}
.btn-modal {
  font-size: 14px;
  align-content: center;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.btn-close {
  fill: #678c9c;
}

.btn-close:hover,
.btn-close:focus {
  fill: #335260;
}

.delete-btn {
  border: none;
  cursor: pointer;
}
